.header{
    background: grey;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    padding: 30px;
    color: white;
}

.main__page{
    margin: 20px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: lightgrey;
    margin-inline: 50px;
}


.name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
