.news{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.news-item{
    background: #ccc;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}