*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 20px auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form{
    width: 400px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form label{
    color: #333;
}

form h1{
    margin-bottom: 20px;
    color: purple;
}

form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.error{
    color: red;
}