.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus{
    outline: none;
    border: 2px solid #4A90E2;
}

input[type="submit"]{
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
}