.users{
    background: grey;
    border-radius: 10px;
    width: 200px;
    padding: 30px;
    color: white;
    margin-top: 10px;
}

.username{
    margin-top: 10px;
}


img{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    margin-top: 30px;
}