.car{
    border: 4px solid #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background: rgb(98, 98, 187);
    color: #fff;
    outline: 5px solid #000;
    font-family: sans-serif;
    width: 400px;
}